:root {
  --glass-button-color: #5c5c5cbb;

  --glass-radius: 40px;
  --glass-border: 1px;
  --glass-bg: rgba(255, 255, 255, 0.2);
  --glass-bg2: rgba(255, 255, 255, 0.35);
  --glass-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);

  /* --glass-border-grad: linear-gradient(
    20deg,
    rgba(255, 255, 255, 0) 5%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 95%
  ); */
  /* --glass-border-grad:
  radial-gradient(
    circle at 0% 0%,
    rgba(255,255,255,0.35) 0%,
    rgba(255,255,255,0.6) 5%,
    rgba(255,255,255,0.0) 15%
  ),
  radial-gradient(
    circle at 100% 100%,
    rgba(255,255,255,0.35) 0%,
    rgba(255,255,255,0.6) 5%,
    rgba(255,255,255,0.0) 15%
  ); */
  --glass-border-grad: radial-gradient(
      120% 120% at top left,
      rgba(255, 255, 255, 0.45) 0%,
      rgba(255, 255, 255, 0.7) 18%,
      rgba(255, 255, 255, 0.25) 30%,
      rgba(255, 255, 255, 0) 48%
    ),
    radial-gradient(
      120% 120% at bottom right,
      rgba(255, 255, 255, 0.45) 0%,
      rgba(255, 255, 255, 0.7) 18%,
      rgba(255, 255, 255, 0.25) 30%,
      rgba(255, 255, 255, 0) 48%
    ),
    radial-gradient(
      90% 90% at bottom left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 65%
    ),
    radial-gradient(
      90% 90% at top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 65%
    );
}

.search-box {
  background-color: #4e4e4e;
  border-radius: 35px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
}
/* 내부는 유리, 테두리는 ::before가 그라데이션만 담당 */
.glass {
  border-radius: var(--glass-radius);
  box-shadow: var(--glass-shadow);

  /* 내부 유리 배경  */
  background: linear-gradient(var(--glass-bg), var(--glass-bg2));

  /* blur */
  backdrop-filter: blur(100px) saturate(200%);
  -webkit-backdrop-filter: blur(12px) saturate(200%);

  z-index: 1;
}

/* 테두리 */
.glass::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: var(--glass-border);
  border-radius: inherit;
  pointer-events: none;

  background: var(--glass-border-grad);

  /* 마스크로 가운데를 뚫어서 border만 남김 */
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
