:root {
  --glass-button-color: #4e4e4ebb;

  --glass-border: 1px;
  --glass-bg: rgba(255, 255, 255, 0.15);
  --glass-bg2: rgba(255, 255, 255, 0.35);
  --glass-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);

  --glass-border-grad:
    radial-gradient(
      120% 120% at top left,
      rgba(255, 255, 255, 0.45) 0%,
      rgba(255, 255, 255, 0.7) 18%,
      rgba(255, 255, 255, 0.25) 30%,
      rgba(255, 255, 255, 0) 48%
    ),
    radial-gradient(
      120% 120% at bottom right,
      rgba(255, 255, 255, 0.45) 0%,
      rgba(255, 255, 255, 0.7) 18%,
      rgba(255, 255, 255, 0.25) 30%,
      rgba(255, 255, 255, 0) 48%
    ),
    radial-gradient(
      90% 90% at bottom left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 65%
    ),
    radial-gradient(
      90% 90% at top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 65%
    );
}

.search-box {
  background-color: #4e4e4e;
  border-radius: 35px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
}
/* 내부는 유리, 테두리는 ::before가 그라데이션만 담당 */
.glass {
  box-shadow: var(--glass-shadow);

  /* 내부 유리 배경  */
  background: linear-gradient(var(--glass-bg), var(--glass-bg2));

  /* blur */
  backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px) ; 

  z-index: 1;
}

/* 테두리 */
.glass::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: var(--glass-border);
  border-radius: inherit;
  pointer-events: none;

  background: var(--glass-border-grad);

  /* 마스크로 가운데를 뚫어서 border만 남김 */
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.swiper {
  width: 80%;
  height: 50%;
  overflow: visible;
  box-sizing: border-box;
}

.swiper .swiper-slide {
  width: 440px;
  background-position: center;
  background-size: cover;
}

.slide-inner {
  height: 100%;
  transition: background-image 500ms ease;
  border-radius: 30px;
  overflow: hidden;
  background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100% )
}

.swiper-slide-prev .slide-inner{
  border-radius: 30px;
  background-image: linear-gradient(to right, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,1) 100%);
}

.swiper-slide-next .slide-inner{
  border-radius: 30px;
  background-image: linear-gradient(to left, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,1) 100%);
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: opacity 500ms ease;
  opacity: 0.6;
}

.swiper-slide-active .slide-inner img {
  opacity: 1;
}
