/* .glass {
  position: fixed;
  top: 50%;
  /* background: rgba(255, 255, 255, 0.2); */
/* backdrop-filter: brightness(1.1) blur(2px) url(#liquid-glass); */
/* box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); */
/* padding: 40px; */
/* color: rgba(255, 255, 255, 0.9); */
/* text-align: center; */
/* text-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); */
/* border: 2px solid rgba(255, 255, 255, 0.3); */
/* border-radius: 32px; */
/* border: 2px solid transparent; */
/* background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), 
     /* linear-gradient( 
      to right,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    ); */
/* background-origin: border-box; */
/* background-clip: padding-box, border-box;  
}  */

:root {
  --glass-radius: 32px;
  --glass-border: 1px;
  --glass-bg: rgba(255, 255, 255, 0.18);
  --glass-bg2: rgba(255, 255, 255, 0.1);
  --glass-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);

  --glass-border-grad: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0.5) 30%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0.5) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* 내부는 유리, 테두리는 ::before가 그라데이션만 담당 */
.glass {
  position: fixed; 
  top: 50%;
  border-radius: var(--glass-radius);
  box-shadow: var(--glass-shadow);

  /* 내부 유리 배경  */
  background: linear-gradient(180deg, var(--glass-bg), var(--glass-bg2));

  /* blur */
  backdrop-filter: blur(12px) saturate(140%);
  -webkit-backdrop-filter: blur(12px) saturate(140%);

  z-index: 1;

}

/* 테두리 */
.glass::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: var(--glass-border);
  border-radius: inherit;
  pointer-events: none;

  background: var(--glass-border-grad);

  /* 마스크로 가운데를 뚫어서 border만 남김 */
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
